.App {
  text-align: center;
}
.selected_button {
  background-color: rgb(173, 96, 173);
}

.white {
 background-color: white;
}
button {
  flex: 1;
  padding: 5px;
  font-weight: bold;
  border-radius: 15px;
  outline: none;
  height: 50px;
  font-size: 26px;
}

button:hover {
  cursor: pointer;
  background-color:rgb(134, 180, 134);
  transition: 0.5s linear all;
}

.selected_button:hover {
background-color: rgb(173, 96, 173);
}

.item_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}