.App {
  text-align: center;

}

.nav {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.home {
  text-align: center;
}

.posts {
 width: 25%;
}

.albums {
  width: 25%;
}