body {
    background-color:darkslategray;
    color: #fff;
}
.main__header {
    text-align: center;
    color: red;
}
.main__list {
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
}

.header_ul_item {
    text-align: center;

}

a {
    text-decoration: none;
    color: green;
}
.a_second {
    color:darkturquoise;
}

h2 {
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;

}

.img {
    display: block;
    margin: 0 auto;
}

.footer {
    position: absolute;
}
.footer_icon {
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 1200px;
}